<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv=x-ua-compatible content="IE=edge">
  <meta name=viewport content="width=device-width,minimum-scale=1">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
  {{ end }}</title>
  {{ with resources.Get "css/base.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
  {{ if eq .Kind "page" }}
    {{ with resources.Get "css/lite-yt-embed.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
    {{ with resources.Get "css/single.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
  {{ end }}
</head>
<body>
{{ block "main" . }}
{{ end }}
{{ if eq .Kind "page" }}
  {{ with resources.Get "js/lite-yt-embed.js" }}
    <script src="{{ .RelPermalink }}"></script>
  {{ end }}
  {{ with resources.Get "js/single.js" }}
    <script src="{{ .RelPermalink }}"></script>
  {{ end }}
{{ end }}
</body>
</html>
