<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv=x-ua-compatible content="IE=edge">
  <meta name=viewport content="width=device-width,minimum-scale=1">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
  {{ end }}</title>
  <style>
    body {
      padding: 0 1em 1em 1em;
    }
    span.target {
      background-color: #eee;
    }
    del {
      color: #555;
      background-color: lightpink;
    }
    span.correction {
      background-color: lightgreen;
    }
  </style>
</head>
<body>
{{ block "main" . }}
{{ end }}
</body>
</html>
