{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <p>
    Artist: {{ .Params.artist }}<br>
    Link: <a href="{{ .Params.link }}" target="_blank">{{ .Params.link }}</a>
  </p>

  {{ with .Params.youtubeEmbedId }}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ . }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  {{ end }}

  <article>
    {{ .Content }}
  </article>

  <script src="/single.js"></script>
{{ end }}
